<div>
  <h2 id="page-heading" data-cy="TesseraHeading">
    <span jhiTranslate="benzappApp.tessera.home.title">Tesseras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="benzappApp.tessera.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tessera"
        [routerLink]="['/tessera/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="benzappApp.tessera.home.createLabel"> Create a new Tessera </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tesseras?.length === 0">
    <span jhiTranslate="benzappApp.tessera.home.notFound">No tesseras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tesseras && tesseras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codice">
            <span jhiTranslate="benzappApp.tessera.codice">Codice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataEmissione">
            <span jhiTranslate="benzappApp.tessera.dataEmissione">Data Emissione</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="immagine">
            <span jhiTranslate="benzappApp.tessera.immagine">Immagine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="targa"><span jhiTranslate="benzappApp.tessera.targa">Targa</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="veicolo">
            <span jhiTranslate="benzappApp.tessera.veicolo">Veicolo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="carburante">
            <span jhiTranslate="benzappApp.tessera.carburante">Carburante</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cittadino.id">
            <span jhiTranslate="benzappApp.tessera.cittadino">Cittadino</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tessera of tesseras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tessera', tessera.id, 'view']">{{ tessera.id }}</a>
          </td>
          <td>{{ tessera.codice }}</td>
          <td>{{ tessera.dataEmissione | formatMediumDatetime }}</td>
          <td>
            <a *ngIf="tessera.immagine" (click)="openFile(tessera.immagine, tessera.immagineContentType)">
              <img
                [src]="'data:' + tessera.immagineContentType + ';base64,' + tessera.immagine"
                style="max-height: 30px"
                alt="tessera image"
              />
            </a>
            <span *ngIf="tessera.immagine">{{ tessera.immagineContentType }}, {{ byteSize(tessera.immagine) }}</span>
          </td>
          <td>{{ tessera.targa }}</td>
          <td jhiTranslate="{{ 'benzappApp.TipoVeicolo.' + tessera.veicolo }}">{{ tessera.veicolo }}</td>
          <td jhiTranslate="{{ 'benzappApp.TipoCarburante.' + tessera.carburante }}">{{ tessera.carburante }}</td>
          <td>
            <div *ngIf="tessera.cittadino">
              <a [routerLink]="['/cittadino', tessera.cittadino?.id, 'view']">{{ tessera.cittadino?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tessera', tessera.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tessera', tessera.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tessera)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tesseras && tesseras.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
